<form action="/createAccount" method="post">
    <div id="">
        <div>
            <label>Nome:</label><br>
            <input type="text" placeholder="Seu nome" name="name" value="{{formData.name}}">
        </div>
        <div>
            <label>Sobrenome:</label><br>
            <input type="text" placeholder="Seu sobrenome" name="surname" value="{{formData.surname}}">
        </div>
    </div>
    <div>
        <label>Email:</label><br>
        <input type="text" name="email" placeholder="Insira seu email" value="{{formData.email}}">
    </div>
    <div>
        <label>Nascimento:</label><br>
        <input type="date" name="birth" value="{{formData.birth}}">
    </div>
    <div>
        <label>Senha:</label><br>
        <input type="password" name="password" placeholder="Insira sua senha" value="{{formData.password}}">
    </div>
    <div>
        <label>Confime sua senha:</label><br>
        <input type="password" name="confirmPassword" placeholder="Confirme sua senha" value="{{formData.confirmPassword}}">
    </div>
    <div>
        <button type="submit">Criar conta</button>
    </div>
</form>
{{>errorMessages}}